requests
beautifulsoup4
langchain
google-search-results
flask
google-generativeai
faiss-cpu
sentence-transformers
pandas 
fitz
opencv-python
accelerate
gunicorn
python-dotenv
flask-socketio 
jsonify
langchain-community
pypdf