requests
beautifulsoup4
langchain
google-search-results
flask
google-generativeai
faiss-cpu
sentence-transformers
pandas 
#git+https://github.com/huggingface/transformers@main
fitz
opencv-python
accelerate
gunicorn
python-dotenv
flask-socketio 
mediapipe
jsonify
langchain-community